.navbar-custom{
    background-image: linear-gradient(to right, #0f2e5e,#266ed4) !important;
}
.navigation-link,#basic-nav-dropdown{
    color: white !important;
    font-size: larger !important;
    font-weight: 700;
    margin: 0 10px;
}
.navbar-toggler-icon{
    border: 1px solid white;
    color: white;
    background-image: url('https://www.clipartmax.com/png/small/36-365828_navbar-toggle-icon-menu-hamburger-png-white.png') !important;
    background-size: 100px;
}